KPTracer-Data/
KPTracer-Data.tar.gz
preprocessed/*
!preprocessed/d5tree.nwk
*.gz
temp.nwk 
.ipynb_checkpoints
worm/*
!worm/celegans_1.nwk
!worm/extra_cell_types_v2.csv
mouse/*
!mouse/GSE117542_embryo2_BestTreeGreedy_with_childern.nwk
!mouse/tree_3.txt